@media (max-width:1200px){
	header .header-menu ul {
	    order: 2;
	    display: block;
	    width: 250px;
	    position: fixed;
	    top: 0;
	    bottom: 0;
	    left: -280px;
	    z-index: 111;
	    background-color: rgb(34, 34, 34);
	    transition: all 0.5s ease 0s;
	    padding: 0 20px;
	}

	.menu_open header .header-menu ul{
		left: 0;
	}

	.menu_open .toggle-menu span:nth-child(2) {
	    transform: rotate(-50deg);
	    top: 10px;
	}

	.menu_open .toggle-menu span:nth-child(1) {
	    transform: rotate(50deg);
	    width: 100%;
	}


	.toggle-menu {
	    display: flex;
	    justify-content: start;
	}	

	.header-menu .btn-primary{
		order: 1;
		margin-right: 20px;
	}

	header .header-menu ul li{
		padding: 20px 0px;
	}

	header .header-menu ul li a::after{
		display: none;
	}

	.toggle-menu{
		order: 3;
	}
}

@media (max-width:992px){
	.name-area .bold-text h2 {
	    font-size: 80px;
	}

	.name-area .bold-text span {
	    font-size: 14px;
	    margin-bottom: 10px;
	}

	.name-area .bold-text p {
	    font-size: 18px;	
	}
}

@media (max-width:767px){

	body p {
	    font-size: 14px;
	}

	.header-logo a {
	    font-size: 35px;
	}

	.btn-primary {
	    padding: 10px 30px;
	    font-size: 14px;
	}

	.name-area .bold-text h2 {
	    font-size: 50px;
	}

	.name-area .bold-text span {
	    font-size: 13px;
	}

	.name-area .bold-text p {
	    font-size: 16px;
	    margin-top: 10px;
	}

	.name-area .bold-text {
	    margin-bottom: 20px;
	}

	.our-info .social-media li a {
	    font-size: 25px;
	}
	.side-contact ul li {
	    padding: 5px 10px;
	    margin-bottom: 10px;
	}
	.side-contact ul li a {
	    font-size: 25px;
	}


}