@media (max-width:1200px){
	header .header-menu ul {
	    order: 2;
	    display: block;
	    width: 250px;
	    position: fixed;
	    top: 0;
	    bottom: 0;
	    left: -280px;
	    z-index: 111;
	    background-color: rgb(34, 34, 34);
	    transition:all 1s cubic-bezier(0.3, 0, 0.3, 1);
	    padding: 0 20px;
	}

	.toggle-menu span {
	    background-color: #000;
	}

	.menu_open header .header-menu ul{
		left: 0;
	}

	.menu_open .toggle-menu span:nth-child(2) {
	    transform: rotate(-45deg);
	    top: 10px;
	}

	.menu_open .toggle-menu span:nth-child(1) {
	    transform: rotate(45deg);
	    width: 100%;
	}

	.fixed .header-menu ul li a{
		color: #fff;
	}
 

	.toggle-menu {
	    display: flex;
	    justify-content: start;
	}	

	body.scrolling_up .toggle-menu span{
		background-color: #000;
	}

	.header-menu .btn-primary{
		order: 1;
		margin-right: 20px;
	}

	header .header-menu ul li{
		padding: 20px 0px;
	}

	header .header-menu ul li a::after{
		display: none;
	}

	.toggle-menu{
		order: 3;
	}

	.side-contact {
	    top: 200px;
	}

	.clcik-top a {
	    font-size: 25px;;
	}

	.clcik-top {
	    height: 100px;
	    width: 100px;
	}

	.clcik-top span {
	    font-size: 11px;
	    transform-origin: 0 50px;
	}
}

@media (max-width:992px){
	.name-area .bold-text h2 {
	    font-size: 80px;
	}

	.side-contact {
	    top: 230px;
	}

	.name-area .bold-text span {
	    font-size: 14px;
	    margin-bottom: 10px;
	}

	.name-area .bold-text p {
	    font-size: 18px;	
	}

	.clcik-top {
	    height: 90px;
	    width: 90px;
	}

	.clcik-top a {
	    font-size: 20px;
	}

	.clcik-top span {
	    font-size: 10px;
	    transform-origin: 0 45px;
	}

	.con-add-inner {
	    display: flex;
	    justify-content: space-between;
	    flex-wrap: wrap;
	}

	.service-sec .service-box ul li {
	    width: 100%;
	    max-width: calc(100% / 2);
	    padding: 20px;
	    margin: 0 12px;
	    margin-bottom: 20px;
	}

	.about-me-info .row > div{
		max-width: 100%;
	}

	.about-me-img{
		margin-top: 50px;
	}

	.contact-inner .row > div{
		max-width: 100%;
	}

	.con-add-inner .contact-text h1 {
	    margin-bottom: 0;
	    font-size: 20px;
	}

	.con-add-inner .contact-text p, .con-add-inner .contact-text a {
	    font-size: 15px;
	    letter-spacing: 0.6px;
	}

	.con-add-inner .icon a {
	    font-size: 18px;
	    margin-right: 0px;
	    height: 50px;
	    width: 50px;
	    margin-bottom: 10px;
	}

	.contact-text {
	    text-align: center;
	}

	.con-add-inner {
	    display: flex;
	    justify-content: space-between;
	}

	.content-all {
	    flex-direction: column;
	}
}

@media (max-width:767px){

	section {
	    padding: 50px 0;
	}

	body p {
	    font-size: 14px;
	}

	.header {
	    padding: 10px 0px;
	}

	.header-logo a {
	    font-size: 35px;
	}

	.btn-primary {
	    padding: 10px 30px;
	    font-size: 14px;
	}

	.name-area .bold-text h2 {
	    font-size: 50px;
	}

	.name-area .bold-text span {
	    font-size: 13px;
	}

	.name-area .bold-text p {
	    font-size: 16px;
	    margin-top: 10px;
	}

	.name-area .bold-text {
	    margin-bottom: 20px;
	}

	.our-info .social-media li a {
	    font-size: 25px;
	}
	.side-contact ul li {
	    padding: 5px 10px;
	    margin-bottom: 10px;
	}
	.side-contact ul li a {
	    font-size: 25px;
	}

	.clcik-top span{
		font-size: 7px;
		transform-origin:0 30px;
	}

	.clcik-top a{
		font-size: 15px;
	}

	.clcik-top {
	    height: 60px;
	    width: 60px;
	}

	.service-sec .service-box ul li {
	    max-width: calc(100% / 1);
	    padding: 20px;
	    margin: 0 12px;
	    margin-bottom: 20px;
	}

	.sec-heading p {
	    font-size: 16px;
	}

	.sec-heading h2 {
	    font-size: 18px;
	}

	.skils span:nth-child(2){
		font-size: 14px;
	}

	.about-me-info-text:before {
	    height: 65%;;
	}

	.about-me-info .about-me-img {
	    padding-top: 119%;
	}

	.about-me-img:after {
	    left: 23px;
	}

	.content-all{
		width: 100%;
	}

	.form-area form .form-inerr{
		max-width: 100%;
	}

	.footer-bottom p{
		font-size: 12px;
	}

}